
body{
margin:0;
font-family:Arial;
background-color:#141414;
color:white;
}

.logo{
color:#e50914;
font-size:32px;
font-weight:bold;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:black;
}

nav button{
margin-left:10px;
padding:10px;
background:#e50914;
border:none;
color:white;
cursor:pointer;
}

.section-title{
margin-left:50px;
}

.filmes-grid{
display:grid;
grid-template-columns:repeat(auto-fill,200px);
gap:20px;
padding:50px;
}

.filme-card{
background:#222;
padding:15px;
border-radius:6px;
transition:0.3s;
}

.filme-card:hover{
transform:scale(1.05);
}

.filme-titulo{
font-weight:bold;
margin-bottom:10px;
}

.filme-card button{
width:100%;
background:#e50914;
border:none;
padding:8px;
color:white;
cursor:pointer;
}

.login-body{
background:url("https://assets.nflxext.com/ffe/siteui/vlv3/9b22a6e4/netflix-bg.jpg");
background-size:cover;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-box{
background:rgba(0,0,0,0.75);
padding:40px;
display:flex;
flex-direction:column;
width:300px;
}

.login-box input{
margin-bottom:15px;
padding:10px;
}

.login-box button{
padding:10px;
background:#e50914;
border:none;
color:white;
cursor:pointer;
}
